.home-page-top-container {
    display: flex;
}
.home-page-container {
    height: 80vh;
}

.container-left {
    width: 60%;
    background: url("../img/mainBG.png")center no-repeat;
    background-size: cover ;
}

.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container-right {
    width: 40%;
    background: #303539;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.container-right-inner {
    height: 55vh;
}

.container-right-inner h1 {
    font-size: 5em;
    margin-bottom: 50px;
}

.container-right-inner p {
    width: 80%;
    margin: 0 auto 50px;
    font-size: 2em;
    color: #717579;

}

.container-right-inner button {
    background: #BCB893;
    width: 55%;
    padding: 20px;
    margin: auto;
    font-size: 1.5em;
    color: #fff;

}

.home-page-bottom-container {
    text-align: center;
    padding-top: 25px;

}

.home-page-bottom-container h3 {
    font-size: 3em;
    margin-bottom: 25px;
}

.home-page-bottom-images-container {
    display: flex;
    justify-content: space-around;
}

.image-container {
    width: 20%;
}
.image-container img {
    width: 100%;
}

.right-footer button {
    background: #2CD3C8;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 16px;

}

.images-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.image {
    width: 45%;

}

.image img {
    width: 100%;
}

.main-header {
    width: 80%;
    height: 65px;
    position: fixed;
    display: flex;
    right:0;
    margin: 40px auto;
    background: #ccc;
}

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.main-nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.links-container {
    width: 60%;

}

.white-logo {
    display: none;
}

.cart-container {
    background: #BCB893;
    width: 200px;
    height:65px;
    display: flex;
}

.cart-container img {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 1rem;

}

.cart-container h6 {
    color: #fff;
    font-size: 1.5rem;
    align-self: center;
    margin-left: 1rem;
}

.menu-slide {
    position: absolute;
    height: 100%;
    width: 33%;
    opacity: 0;
    z-index: 12;
    left: -324px;
}

.animate {
    opacity: 1;
    background: #fff;
    left: 0px;
    transition: all 300ms ease-in-out;
}

#close {
    color: black;
}

.hamburger {
    display: none;
}



@media(max-width: 750px) {

    .home-page-container {
        height: 45vh;
    }

    .home-page-top-container {
        flex-direction: column;
    }

    .dark-logo {
        display: none;
    }

    .container-left {
        width: 100%;
        /*background: url("../img/mainBG.png")center no-repeat;*/
        /*background-size: cover ;*/
    }

    .container-right {
        width: 100%;


    }

    .white-logo {
        display: block;
    }
    .links-container {
       display: none;

    }

    .main-header {
        width: 100%;
        margin: 0;
        background: rgba(71,71,68,0.7);
    }

    .hamburger {
        display: block;
    }
    .cart-container {
        display: none;
    }

}

/*@media(max-width: 900px) {*/
    /*.container-left {*/
        /*width: 50%;*/
        /*!*background: url("../img/mainBG.png")center no-repeat;*!*/
        /*!*background-size: cover ;*!*/
    /*}*/

    /*.container-right {*/
        /*width: 50%;*/


    /*}*/


/*}*/